//MainContainer CS
.main-container {
  text-align: center;
}

// NavBar Component CSS
.navBar {
  border-bottom: 1px solid 	#D3D3D3;
  overflow: hidden;
}

.navBar-img {
  height: 4em;
  width: 4em;
}

// Repos Component CSSs
.repos {
  margin-top: 2em;
  margin-bottom: 2em;
}

.repos ul {
  display: inline-block;
  align-items: center;
  border: 1px solid #000;
  vertical-align: top;
  width: 500px;
  height: 200px;
  text-align: center;
  padding: 1.5em 0 0 0;
  margin: 5px 10px 5px 0;
  list-style: none;
}

.repos li {
  width: auto;
}

.updatedAt {
  color: #0096FF;
}

// Events Component CSS
.events {
  margin-top: 2em;
  margin-bottom: 2em;
}

.events ul {
  display: inline-block;
  align-items: center;
  border: 1px solid #000;
  vertical-align: top;
  width: 32em;
  height: 7.5em;
  text-align: center;
  padding: 25px 0 0 0;
  margin: 5px 10px 5px 0;
  list-style: none;
}

// Members Component CSS
.members {
  margin-top: 2em;
  margin-bottom: 2em;
}

.members img {
  height: 125px;
  width: 125px;
}

.members ul {
  display: inline-block;
  align-items: center;
  border: 1px solid #000;
  vertical-align: top;
  width: 500px;
  height: fit-content;
  text-align: center;
  padding: 15px 0 15px 0;
  margin: 5px 10px 5px 0;
  list-style: none;
}

// Public Members Component CSS
.publicMembers {
  margin-top: 2em;
  margin-bottom: 2em;
}

.publicMembers img {
  height: 125px;
  width: 125px;
}

.publicMembers ul {
  display: inline-block;
  align-items: center;
  border: 1px solid #000;
  vertical-align: top;
  width: 500px;
  height: fit-content;
  text-align: center;
  padding: 15px 0 15px 0;
  margin: 5px 10px 5px 0;
  list-style: none;
}
