.list {
  list-style: none;
}

// Repos Component CSS
.repoDataList {
  list-style: none;
}

// Events Component CSS
.eventsDataList {
  list-style: none;
}

// Members Component CSS
.membersDataList {
  list-style: none;
}